<body style="background:#f5f4fa">
    <div class="header">
      <div class="title">
        <h1>Company Name</h1>
      </div>
    </div>
    <div class="cards">
      <a href="<%= simulations_company_plan_path(:basic) %>" id="card-basic" class="card basic">
           <div class="overlay"></div>
        <div class="circle">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
        <p>Basic Plan</p>
      </a>

      <a href="<%= simulations_company_plan_path(:silver) %>" id="card-silver" class="card silver">
           <div class="overlay"></div>
        <div class="circle">
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
        </div>
        <p>Silver Plan</p>
      </a>

      <a href="<%= simulations_company_plan_path(:gold) %>" id="card-gold" class="card gold">
           <div class="overlay"></div>
        <div class="circle">
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
        </div>
        <p>Gold Plan</p>
      </a>

      <a href="<%= simulations_company_plan_path(:premium) %>" id="card-premium" class="card premium">
           <div class="overlay"></div>
        <div class="circle">
          <i class="fa fa-hand-spock-o" aria-hidden="true"></i>
        </div>
        <p>Premium Plan</p>
      </a>
    </div>
  </body>
