<body style="background:#f5f4fa">
    <div class="header">
      <div class="back-button">
        <a href="<%= simulations_company_plans_path %>"><i class="fa fa-angle-left"></i></a>
      </div>
      <div class="title">
        <h1>Plan Name: R$ Plan value</h1>
      </div>
    </div>
    <div class="cards">
      <a href="#" id="card-basic" class="card basic">
        <div class="br circle"></div>
        <p>R$ 399,90</p>
      </a>

      <a href="#" id="card-silver" class="card silver">
        <div class="us circle"></div>
        <p>$ 39.90</p>
      </a>

      <a href="#" id="card-gold" class="card gold">
        <div class="mx circle"></div>
        <p>$ 39.90</p>
      </a>

      <a href="#" id="card-premium" class="card premium">
        <div class="ge circle"></div>
        <p>$ 39.90</p>
      </a>
    </div>
  </body>
